<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl}"/>
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <!--Static Assets-->
    <link type="image/x-icon" rel="icon" href="favicon.png">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css">
</head>
<body class="{body.class}">
<!--Page Wrapper-->
<div class="wrapper">
    <!--Header-->
    <div class="header">
        <a href="/" class="logo">
            <img src="public/logo.png" alt="logo">
        </a>
        <ul class="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a class="loggedOut" href="/account/create">Sign Up</a>
            </li>
            <li>
                <a class="loggedOut" href="/session/create">Login</a>
            </li>
            <li>
                <a class="loggedIn" href="/checks/all">Dashboard</a>
            </li>
            <li>
                <a class="loggedIn" href="/account/edit">Account Settings</a>
            </li>
            <li>
                <a class="loggedIn" href="#">Logout</a>
            </li>
        </ul>
    </div>
    <!--Page Specific Content-->
    <div class="content">